button {
    width: 25%;
    padding: 40px 0px;
    font-size: 40px;
    font-weight: bold;
    background-color: white;
    border: 1px solid gray;
}

.clearButton, .zeroButton{
    width: 75%;
}

.actionButton {
    background-color: darkred;
    color: white;
    font-size: 40px;
}